<clr-modal [(clrModalOpen)]="isVisible" [clrModalClosable]="false" *ngIf="isVisible">
    <h3 class="modal-title">Edit Catalog</h3>
    <div class="modal-body">
        <app-alert *ngIf="catalogForm.invalid" message="The catalog name is required"></app-alert>
        <form class="form-group" #catalogForm="ngForm">
            <div class="textbox">
                <br/>
                <input
                id="catalogName"
                name="catalogName"
                type="text"
                class="form-control"
                [(ngModel)]="catalog.Name"
                #name="ngModel"
                required />
                <span class="placeholder">Your email address</span>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline" (click)="cancel()">Cancel</button>
        <button type="button" class="btn btn-primary" (click)="confirm()" [disabled]="catalogForm.invalid">Save</button>
    </div>
</clr-modal>