<a clrVerticalNavLink routerLink="/catalogs" routerLinkActive="active">
    <clr-icon shape="cloud-network" clrVerticalNavIcon></clr-icon>
    Storage
</a>
<clr-vertical-nav-group routerLinkActive="active">
    <a hidden aria-hidden="true"></a>
    <clr-icon shape="user" clrVerticalNavIcon></clr-icon>
    Normal
    <clr-vertical-nav-group-children *clrIfExpanded="true">
        <a clrVerticalNavLink>Pidgey</a>
        <a clrVerticalNavLink>Snorlax</a>
    </clr-vertical-nav-group-children>
</clr-vertical-nav-group>
<clr-vertical-nav-group>
    <a hidden aria-hidden="true"></a>
    <clr-icon shape="flame" clrVerticalNavIcon></clr-icon>
    Fire
    <clr-vertical-nav-group-children *clrIfExpanded>
        <a clrVerticalNavLink>Charmander</a>
        <a clrVerticalNavLink>Charizard</a>
    </clr-vertical-nav-group-children>
</clr-vertical-nav-group>
<clr-vertical-nav-group>
    <a hidden aria-hidden="true"></a>
    <clr-icon shape="bolt" clrVerticalNavIcon></clr-icon>
    Electric
    <clr-vertical-nav-group-children *clrIfExpanded>
        <a clrVerticalNavLink>Pikachu</a>
        <a clrVerticalNavLink>Raichu</a>
    </clr-vertical-nav-group-children>
</clr-vertical-nav-group>
