@import '../variables/_sizes.scss';
@import '../variables/_typography.scss';
@import '../helpers/positions.scss';

.catalog {
	width: ($full-size-percentage - 5%);
	height: 170px;
	margin-top: 10px;
	margin-bottom: 10px;
	@extend .horizontal-center;
	color: #FFF;

	* {
		position: absolute;
	}

	.background {
		background-color: lightgray;
		width: $full-size-percentage;
		height: $full-size-percentage;

		img {
			width: $full-size-percentage;
			height: $full-size-percentage;
		}
	}

	.align {
		padding: 7px 10px;
	}

	.info {
		@extend .bottom-left;
		width: $full-size-percentage;
		height: 20%;
		background-color: darkblue;
	}

	.title {
		@extend .align;
	}

	.count {
		font-size: $medium;
		@extend .right;
		@extend .align;
	}
}

.file {
	@extend .catalog;

	.background {
		height: ($full-size-percentage - 20%);
		background-color: #FFF;

		img {
			position: absolute;
			min-width: 50px;
			max-width: ($full-size-percentage - 70%);
			@extend .wide;
			height: unset;
		}
	}
}
