@import '../variables/_sizes.scss';
@import '../variables/_colors.scss';
@import '../variables/_typography.scss';
@import '../helpers/positions.scss';

.catalog {
	width: ($full-size-percentage - 5%);
	height: 170px;
	margin-top: 10px;
	margin-bottom: 10px;
	@extend .horizontal-center;
	color: $white;

	* {
		position: absolute;
	}

	.layout {
		width: $full-size-percentage;
		height: $full-size-percentage;

		.background {
			background-color: $light-gray;
			@extend .layout;

			img {
				@extend .layout;
			}
		}

		.bottom-panel {
			@extend .bottom-left;
			@extend .layout;
			height: 20% !important;
			background-color: $dark-blue;
		}
	}

	.align {
		padding: 7px 10px;
	}

	.title {
		color: $white;
		@extend .align;
	}

	.count {
		font-size: $medium;
		@extend .right;
		@extend .align;
	}
}
