@import '../variables/_typography.scss';
@import '../components/_grid.scss';
@import '../components/_button.scss';

.content {
	padding: 20px 35px;
}

.content-header {
	border-bottom: 1px solid #000;
	margin-bottom: 10px;

	span {
		font-size: $small !important;
	}
}
