@import '../variables/_typography.scss';
@import '../variables/_sizes.scss';
@import '../helpers/positions.scss';

.footer {
	font-size: $small;
	bottom: 15px;
	display: block;
	z-index: 820;
	@extend .text-center;
}
