.bold, .grid .row.header {
  font-weight: bold; }

.italic {
  font-style: italic; }

.capitalize {
  text-transform: capitalize; }

.uppercase {
  text-transform: uppercase; }

.lowecase {
  text-transform: lowercase; }

* {
  box-sizing: border-box; }

.grid {
  min-width: 100%; }
  .grid .row {
    width: 100%; }
    .grid .row::after {
      content: "";
      clear: both;
      display: table; }
    .grid .row [class*="col-"] {
      float: left; }
    .grid .row .col-1 {
      width: 8.33333%; }
    .grid .row .col-2 {
      width: 16.66667%; }
    .grid .row .col-3 {
      width: 25%; }
    .grid .row .col-4 {
      width: 33.33333%; }
    .grid .row .col-5 {
      width: 41.66667%; }
    .grid .row .col-6 {
      width: 50%; }
    .grid .row .col-7 {
      width: 58.33333%; }
    .grid .row .col-8 {
      width: 66.66667%; }
    .grid .row .col-9 {
      width: 75%; }
    .grid .row .col-10 {
      width: 83.33333%; }
    .grid .row .col-11 {
      width: 91.66667%; }
    .grid .row .col-12 {
      width: 100%; }

.float-left {
  float: left; }

.float-right {
  float: right; }

.left, .top-left, .bottom-left, .catalog .layout .bottom-panel, .file .layout .bottom-panel, .catalog .layout .background img .bottom-panel, .file .layout .background img .bottom-panel, .wide, .file .layout .background img, .catalog .layout .file .background .background img, .catalog .layout .background .file img .background img, .catalog .layout .file .bottom-panel .background img {
  position: absolute;
  left: 0; }

.right, .top-right, .bottom-right, .wide, .file .layout .background img, .catalog .layout .file .background .background img, .catalog .layout .background .file img .background img, .catalog .layout .file .bottom-panel .background img, .catalog .count, .file .count {
  position: absolute;
  right: 0; }

.top, .top-left, .top-right, .wide, .file .layout .background img, .catalog .layout .file .background .background img, .catalog .layout .background .file img .background img, .catalog .layout .file .bottom-panel .background img {
  position: absolute;
  top: 0; }

.bottom, .bottom-left, .catalog .layout .bottom-panel, .file .layout .bottom-panel, .catalog .layout .background img .bottom-panel, .file .layout .background img .bottom-panel, .bottom-right, .wide, .file .layout .background img, .catalog .layout .file .background .background img, .catalog .layout .background .file img .background img, .catalog .layout .file .bottom-panel .background img {
  position: absolute;
  bottom: 0; }

.horizontal-center, .center, .wide, .file .layout .background img, .catalog .layout .file .background .background img, .catalog .layout .background .file img .background img, .catalog .layout .file .bottom-panel .background img, .catalog, .file {
  position: relative;
  margin-left: auto;
  margin-right: auto; }

.vertical-center, .center, .wide, .file .layout .background img, .catalog .layout .file .background .background img, .catalog .layout .background .file img .background img, .catalog .layout .file .bottom-panel .background img {
  position: relative;
  margin-top: auto;
  margin-bottom: auto; }

.text-left {
  text-align: left; }

.text-right {
  text-align: right; }

.text-center, .button, .button.button-search {
  text-align: center; }

.text-justify {
  text-align: justify; }

.button {
  text-decoration: none; }
  .button.button-text {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    font-size: 14px;
    padding: 10px 20px 10px 20px; }
  .button.button-search {
    position: absolute;
    right: 20px;
    min-height: 22px;
    padding: 2px 5px;
    padding-bottom: 0px;
    cursor: pointer;
    -webkit-border-top-right-radius: 9px;
    -webkit-border-bottom-right-radius: 9px;
    -moz-border-radius-topright: 9px;
    -moz-border-radius-bottomright: 9px;
    border-top-right-radius: 9px;
    border-bottom-right-radius: 9px; }

.float-left {
  float: left; }

.float-right {
  float: right; }

.left, .top-left, .bottom-left, .catalog .layout .bottom-panel, .file .layout .bottom-panel, .catalog .layout .background img .bottom-panel, .file .layout .background img .bottom-panel, .wide, .file .layout .background img, .catalog .layout .file .background .background img, .catalog .layout .background .file img .background img, .catalog .layout .file .bottom-panel .background img {
  position: absolute;
  left: 0; }

.right, .top-right, .bottom-right, .wide, .file .layout .background img, .catalog .layout .file .background .background img, .catalog .layout .background .file img .background img, .catalog .layout .file .bottom-panel .background img, .catalog .count, .file .count {
  position: absolute;
  right: 0; }

.top, .top-left, .top-right, .wide, .file .layout .background img, .catalog .layout .file .background .background img, .catalog .layout .background .file img .background img, .catalog .layout .file .bottom-panel .background img {
  position: absolute;
  top: 0; }

.bottom, .bottom-left, .catalog .layout .bottom-panel, .file .layout .bottom-panel, .catalog .layout .background img .bottom-panel, .file .layout .background img .bottom-panel, .bottom-right, .wide, .file .layout .background img, .catalog .layout .file .background .background img, .catalog .layout .background .file img .background img, .catalog .layout .file .bottom-panel .background img {
  position: absolute;
  bottom: 0; }

.horizontal-center, .center, .wide, .file .layout .background img, .catalog .layout .file .background .background img, .catalog .layout .background .file img .background img, .catalog .layout .file .bottom-panel .background img, .catalog, .file {
  position: relative;
  margin-left: auto;
  margin-right: auto; }

.vertical-center, .center, .wide, .file .layout .background img, .catalog .layout .file .background .background img, .catalog .layout .background .file img .background img, .catalog .layout .file .bottom-panel .background img {
  position: relative;
  margin-top: auto;
  margin-bottom: auto; }

.text-left {
  text-align: left; }

.text-right {
  text-align: right; }

.text-center, .button, .button.button-search {
  text-align: center; }

.text-justify {
  text-align: justify; }

.bold, .grid .row.header {
  font-weight: bold; }

.italic {
  font-style: italic; }

.capitalize {
  text-transform: capitalize; }

.uppercase {
  text-transform: uppercase; }

.lowecase {
  text-transform: lowercase; }

* {
  box-sizing: border-box; }

.grid {
  min-width: 100%; }
  .grid .row {
    width: 100%; }
    .grid .row::after {
      content: "";
      clear: both;
      display: table; }
    .grid .row [class*="col-"] {
      float: left; }
    .grid .row .col-1 {
      width: 8.33333%; }
    .grid .row .col-2 {
      width: 16.66667%; }
    .grid .row .col-3 {
      width: 25%; }
    .grid .row .col-4 {
      width: 33.33333%; }
    .grid .row .col-5 {
      width: 41.66667%; }
    .grid .row .col-6 {
      width: 50%; }
    .grid .row .col-7 {
      width: 58.33333%; }
    .grid .row .col-8 {
      width: 66.66667%; }
    .grid .row .col-9 {
      width: 75%; }
    .grid .row .col-10 {
      width: 83.33333%; }
    .grid .row .col-11 {
      width: 91.66667%; }
    .grid .row .col-12 {
      width: 100%; }

.float-left {
  float: left; }

.float-right {
  float: right; }

.left, .top-left, .bottom-left, .catalog .layout .bottom-panel, .file .layout .bottom-panel, .catalog .layout .background img .bottom-panel, .file .layout .background img .bottom-panel, .wide, .file .layout .background img, .catalog .layout .file .background .background img, .catalog .layout .background .file img .background img, .catalog .layout .file .bottom-panel .background img {
  position: absolute;
  left: 0; }

.right, .top-right, .bottom-right, .wide, .file .layout .background img, .catalog .layout .file .background .background img, .catalog .layout .background .file img .background img, .catalog .layout .file .bottom-panel .background img, .catalog .count, .file .count {
  position: absolute;
  right: 0; }

.top, .top-left, .top-right, .wide, .file .layout .background img, .catalog .layout .file .background .background img, .catalog .layout .background .file img .background img, .catalog .layout .file .bottom-panel .background img {
  position: absolute;
  top: 0; }

.bottom, .bottom-left, .catalog .layout .bottom-panel, .file .layout .bottom-panel, .catalog .layout .background img .bottom-panel, .file .layout .background img .bottom-panel, .bottom-right, .wide, .file .layout .background img, .catalog .layout .file .background .background img, .catalog .layout .background .file img .background img, .catalog .layout .file .bottom-panel .background img {
  position: absolute;
  bottom: 0; }

.horizontal-center, .center, .wide, .file .layout .background img, .catalog .layout .file .background .background img, .catalog .layout .background .file img .background img, .catalog .layout .file .bottom-panel .background img, .catalog, .file {
  position: relative;
  margin-left: auto;
  margin-right: auto; }

.vertical-center, .center, .wide, .file .layout .background img, .catalog .layout .file .background .background img, .catalog .layout .background .file img .background img, .catalog .layout .file .bottom-panel .background img {
  position: relative;
  margin-top: auto;
  margin-bottom: auto; }

.text-left {
  text-align: left; }

.text-right {
  text-align: right; }

.text-center, .button, .button.button-search {
  text-align: center; }

.text-justify {
  text-align: justify; }

.button {
  text-decoration: none; }
  .button.button-text {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    font-size: 14px;
    padding: 10px 20px 10px 20px; }
  .button.button-search {
    position: absolute;
    right: 20px;
    min-height: 22px;
    padding: 2px 5px;
    padding-bottom: 0px;
    cursor: pointer;
    -webkit-border-top-right-radius: 9px;
    -webkit-border-bottom-right-radius: 9px;
    -moz-border-radius-topright: 9px;
    -moz-border-radius-bottomright: 9px;
    border-top-right-radius: 9px;
    border-bottom-right-radius: 9px; }

.content {
  padding: 20px 35px; }

.content-header {
  border-bottom: 1px solid #000;
  margin-bottom: 10px; }
  .content-header span {
    font-size: 12px !important; }

.command-bar .command {
  padding-right: 25px;
  font-size: 14px;
  cursor: pointer; }
  .command-bar .command span {
    font-size: 14px; }

.float-left {
  float: left; }

.float-right {
  float: right; }

.left, .top-left, .bottom-left, .catalog .layout .bottom-panel, .file .layout .bottom-panel, .catalog .layout .background img .bottom-panel, .file .layout .background img .bottom-panel, .wide, .file .layout .background img, .catalog .layout .file .background .background img, .catalog .layout .background .file img .background img, .catalog .layout .file .bottom-panel .background img {
  position: absolute;
  left: 0; }

.right, .top-right, .bottom-right, .wide, .file .layout .background img, .catalog .layout .file .background .background img, .catalog .layout .background .file img .background img, .catalog .layout .file .bottom-panel .background img, .catalog .count, .file .count {
  position: absolute;
  right: 0; }

.top, .top-left, .top-right, .wide, .file .layout .background img, .catalog .layout .file .background .background img, .catalog .layout .background .file img .background img, .catalog .layout .file .bottom-panel .background img {
  position: absolute;
  top: 0; }

.bottom, .bottom-left, .catalog .layout .bottom-panel, .file .layout .bottom-panel, .catalog .layout .background img .bottom-panel, .file .layout .background img .bottom-panel, .bottom-right, .wide, .file .layout .background img, .catalog .layout .file .background .background img, .catalog .layout .background .file img .background img, .catalog .layout .file .bottom-panel .background img {
  position: absolute;
  bottom: 0; }

.horizontal-center, .center, .wide, .file .layout .background img, .catalog .layout .file .background .background img, .catalog .layout .background .file img .background img, .catalog .layout .file .bottom-panel .background img, .catalog, .file {
  position: relative;
  margin-left: auto;
  margin-right: auto; }

.vertical-center, .center, .wide, .file .layout .background img, .catalog .layout .file .background .background img, .catalog .layout .background .file img .background img, .catalog .layout .file .bottom-panel .background img {
  position: relative;
  margin-top: auto;
  margin-bottom: auto; }

.text-left {
  text-align: left; }

.text-right {
  text-align: right; }

.text-center, .button, .button.button-search {
  text-align: center; }

.text-justify {
  text-align: justify; }

.catalog, .file {
  width: 95%;
  height: 170px;
  margin-top: 10px;
  margin-bottom: 10px;
  color: #FFFFFF; }
  .catalog *, .file * {
    position: absolute; }
  .catalog .layout, .file .layout, .catalog .layout .background, .file .layout .background, .catalog .layout .background img, .file .layout .background img, .catalog .layout .bottom-panel, .file .layout .bottom-panel {
    width: 100%;
    height: 100%; }
    .catalog .layout .background, .file .layout .background, .catalog .layout .background img .background, .file .layout .background img .background {
      background-color: #e9e9e9; }
    .catalog .layout .bottom-panel, .file .layout .bottom-panel, .catalog .layout .background img .bottom-panel, .file .layout .background img .bottom-panel {
      height: 20% !important;
      background-color: darkblue; }
  .catalog .align, .file .align, .catalog .title, .file .title, .catalog .count, .file .count {
    padding: 7px 10px; }
  .catalog .title, .file .title {
    color: #FFFFFF; }
  .catalog .count, .file .count {
    font-size: 14px; }

.float-left {
  float: left; }

.float-right {
  float: right; }

.left, .top-left, .bottom-left, .catalog .layout .bottom-panel, .file .layout .bottom-panel, .catalog .layout .background img .bottom-panel, .file .layout .background img .bottom-panel, .wide, .file .layout .background img, .catalog .layout .file .background .background img, .catalog .layout .background .file img .background img, .catalog .layout .file .bottom-panel .background img {
  position: absolute;
  left: 0; }

.right, .top-right, .bottom-right, .wide, .file .layout .background img, .catalog .layout .file .background .background img, .catalog .layout .background .file img .background img, .catalog .layout .file .bottom-panel .background img, .catalog .count, .file .count {
  position: absolute;
  right: 0; }

.top, .top-left, .top-right, .wide, .file .layout .background img, .catalog .layout .file .background .background img, .catalog .layout .background .file img .background img, .catalog .layout .file .bottom-panel .background img {
  position: absolute;
  top: 0; }

.bottom, .bottom-left, .catalog .layout .bottom-panel, .file .layout .bottom-panel, .catalog .layout .background img .bottom-panel, .file .layout .background img .bottom-panel, .bottom-right, .wide, .file .layout .background img, .catalog .layout .file .background .background img, .catalog .layout .background .file img .background img, .catalog .layout .file .bottom-panel .background img {
  position: absolute;
  bottom: 0; }

.horizontal-center, .center, .wide, .file .layout .background img, .catalog .layout .file .background .background img, .catalog .layout .background .file img .background img, .catalog .layout .file .bottom-panel .background img, .catalog, .file {
  position: relative;
  margin-left: auto;
  margin-right: auto; }

.vertical-center, .center, .wide, .file .layout .background img, .catalog .layout .file .background .background img, .catalog .layout .background .file img .background img, .catalog .layout .file .bottom-panel .background img {
  position: relative;
  margin-top: auto;
  margin-bottom: auto; }

.text-left {
  text-align: left; }

.text-right {
  text-align: right; }

.text-center, .button, .button.button-search {
  text-align: center; }

.text-justify {
  text-align: justify; }

.catalog, .file {
  width: 95%;
  height: 170px;
  margin-top: 10px;
  margin-bottom: 10px;
  color: #FFFFFF; }
  .catalog *, .file * {
    position: absolute; }
  .catalog .layout, .file .layout, .catalog .layout .background, .file .layout .background, .catalog .layout .background img, .file .layout .background img, .catalog .layout .bottom-panel, .file .layout .bottom-panel {
    width: 100%;
    height: 100%; }
    .catalog .layout .background, .file .layout .background, .catalog .layout .background img .background, .file .layout .background img .background {
      background-color: #e9e9e9; }
    .catalog .layout .bottom-panel, .file .layout .bottom-panel, .catalog .layout .background img .bottom-panel, .file .layout .background img .bottom-panel {
      height: 20% !important;
      background-color: darkblue; }
  .catalog .align, .file .align, .catalog .title, .file .title, .catalog .count, .file .count {
    padding: 7px 10px; }
  .catalog .title, .file .title {
    color: #FFFFFF; }
  .catalog .count, .file .count {
    font-size: 14px; }

.file .layout .background, .catalog .layout .file .background .background, .catalog .layout .background .file img .background, .file .layout .background img .background, .catalog .layout .file .bottom-panel .background {
  height: 80%;
  background-color: #FFFFFF; }
  .file .layout .background img, .catalog .layout .file .background .background img, .catalog .layout .background .file img .background img, .catalog .layout .file .bottom-panel .background img {
    position: absolute;
    min-width: 50px;
    max-width: 30%;
    height: unset; }

.catalog-container .file-uploader {
  margin-top: 15px;
  margin-bottom: 15px;
  border: dotted 3px lightgray;
  color: gray; }
  .catalog-container .file-uploader span {
    line-height: 50px; }

.catalog-container .catalog .selection, .catalog-container .file .selection {
  margin: 7px 7px;
  z-index: 860; }

