<div class="grid catalog-container">
	<div class="row">
		<div class="col-2">
			<a [routerLink]="['/storages']">
				<div class="catalog">
					<img class="background" src="https://image.freepik.com/free-psd/abstract-background-design_1297-87.jpg" />
					<div class="info">
						<div class="title fa fa-folder-open">
							Catalog Name
						</div>
					</div>
					<div class="count">10</div>
				</div>
			</a>
		</div>
		<div class="col-2">
			<a [routerLink]="['/storages']">
				<div class="catalog">
					<img class="background" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQbpj2iRoAPe0-WwYkUgUddhBiZfEzYkFa5_T1ONgkgSMtbV7lL" />
					<div class="info">
						<div class="title fa fa-folder-open">
							Catalog Name
						</div>
					</div>
					<div class="count">10</div>
				</div>
			</a>
		</div>
		<div class="col-2">
			<a [routerLink]="['/storages']">
				<div class="catalog">
					<img class="background" src="https://image.freepik.com/free-psd/abstract-background-design_1297-87.jpg" />
					<div class="info">
						<div class="title fa fa-folder-open">
							Catalog Name
						</div>
					</div>
					<div class="count">10</div>
				</div>
			</a>
		</div>
		<div class="col-2">
			<a [routerLink]="['/storages']">
				<div class="catalog">
					<img class="background" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQbpj2iRoAPe0-WwYkUgUddhBiZfEzYkFa5_T1ONgkgSMtbV7lL" />
					<div class="info">
						<div class="title fa fa-folder-open">
							Catalog Name
						</div>
					</div>
					<div class="count">10</div>
				</div>
			</a>
		</div>
		<div class="col-2">
			<a [routerLink]="['/storages']">
				<div class="catalog">
					<img class="background" src="https://image.freepik.com/free-psd/abstract-background-design_1297-87.jpg" />
					<div class="info">
						<div class="title fa fa-folder-open">
							Catalog Name
						</div>
					</div>
					<div class="count">10</div>
				</div>
			</a>
		</div>
		<div class="col-2">
			<a [routerLink]="['/storages']">
				<div class="catalog">
					<img class="background" src="https://image.freepik.com/free-psd/abstract-background-design_1297-87.jpg" />
					<div class="info">
						<div class="title fa fa-folder-open">
							Catalog Name
						</div>
					</div>
					<div class="count">10</div>
				</div>
			</a>
		</div>
		<div class="col-2">
			<a [routerLink]="['/storages']">
				<div class="catalog">
					<img class="background" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQbpj2iRoAPe0-WwYkUgUddhBiZfEzYkFa5_T1ONgkgSMtbV7lL" />
					<div class="info">
						<div class="title fa fa-folder-open">
							Catalog Name
						</div>
					</div>
					<div class="count">10</div>
				</div>
			</a>
		</div>
		<div class="col-2">
			<a [routerLink]="['/storages']">
				<div class="catalog">
					<img class="background" src="https://image.freepik.com/free-psd/abstract-background-design_1297-87.jpg" />
					<div class="info">
						<div class="title fa fa-folder-open">
							Catalog Name
						</div>
					</div>
					<div class="count">10</div>
				</div>
			</a>
		</div>
		<div class="col-2">
			<a [routerLink]="['/storages']">
				<div class="catalog">
					<img class="background" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSeYXqyn-JTNUGcOFYO-I3FbJlQyX9PTP_5cdYZqmvzqqVKS5Qa" />
					<div class="info">
						<div class="title fa fa-folder-open">
							Catalog Name
						</div>
					</div>
					<div class="count">10</div>
				</div>
			</a>
		</div>
		<div class="col-2">
			<a [routerLink]="['/storages']">
				<div class="file">
					<div class="background">
						<img src="https://www.shareicon.net/download/2016/06/24/618239_word_2000x2000.png" />
					</div>
					<div class="info">
						<div class="title">File_Name.docx</div>
					</div>
				</div>
			</a>
		</div>
		<div class="col-2">
			<a [routerLink]="['/storages']">
				<div class="file">
					<div class="background">
						<img src="https://www.shareicon.net/data/2016/06/24/618244_excel_2000x2000.png" />
					</div>
					<div class="info">
						<div class="title">File_Name.docx</div>
					</div>
				</div>
			</a>
		</div>
		<div class="col-2">
			<a [routerLink]="['/storages']">
				<div class="file">
					<div class="background">
						<img src="https://fthmb.tqn.com/f46ov4VEeFniR3Ju78z6oK6cHZk=/735x0/itunes-music-file-icon-56a150345f9b58b7d0be2a12.PNG" />
					</div>
					<div class="info">
						<div class="title">File_Name.docx</div>
					</div>
				</div>
			</a>
		</div>
		<div class="col-2">
			<a [routerLink]="['/storages']">
				<div class="file">
					<div class="background">
						<img src="http://icons.iconarchive.com/icons/custom-icon-design/pretty-office-2/256/video-file-icon.png" />
					</div>
					<div class="info">
						<div class="title">File_Name.docx</div>
					</div>
				</div>
			</a>
		</div>
	</div>
</div>
