<contextmenu #contextmenu>
	<div style="background-color: #FFF">
		<div style="border-bottom: 1px solid #000">
			<a ng-click="rename({contextmenu.get('item.label'))">Rename</a>
		</div>
		<div>
			<a ng-click="delete({contextmenu.get('item.label'))">Delete</a>
		</div>
	</div>
</contextmenu>
<div class="grid catalog-container">
	<div class="row content-header">
		<div class="col-8 command-bar">
			<a class="command"><span class="fa fa-plus-circle"></span>&nbsp;New</a>
			<a class="command" *ngIf="showRenameCommand" (click)="rename()"><span class="fa fa-edit"></span>&nbsp;Rename</a>
			<a class="command" *ngIf="showDeleteCommand"><span class="fa fa-remove"></span>&nbsp;Delete</a>
			<a class="command" *ngIf="showDownloadCommand"><span class="fa fa-download"></span>&nbsp;Download</a>
		</div>
		<div class="text-right col-4">
			<span>999.9Mb of 500.2Gb used</span>
		</div>
	</div>
	<div class="content-body row">
		<div ng2FileDrop
			 [ngClass]="{'text-center': true, 'file-uploader': true, 'nv-file-over': hasBaseDropZoneOver}"
			 (fileOver)="fileOverBase($event)"
			 [uploader]="uploader">
			<span>Drag-n-drop files here</span>
		</div>
	</div>
	<div class="content-body row">
		<div *ngFor="let item of data">
			<div class="col-2">
				<div [ngClass]="{'catalog': item.isDirectory, 'file': !item.isDirectory}">
					<a [routerLink]="['/storages']" class="layout">
						<div class="background">
							<img src="{{item.imageUrl}}" />
						</div>
						<div class="bottom-panel">
							<div [ngClass]="{'title': true, 'fa': item.isDirectory, 'fa-folder-open': item.isDirectory}">
								{{item.name}}
							</div>
						</div>
					</a>
					<input type="checkbox" class="selection" (click)="select(item)" />
					<div *ngIf="item.isDirectory" class="count">{{item.count}}</div>
				</div>
			</div>
		</div>
	</div>
</div>
