<ng-sidebar-container animate="true" style="height: 100px" class="pull-left">
	<ng-sidebar  closeOnClickOutside="true" mode="over" [(opened)]="_opened" position="top">
		<div class="pull-right" style="background-color: #fff">
			<div class="user-header">
				<div>
					<img style="width: 50px; height: 50px;" src="https://py1uaq.bn1.livefilestore.com/y4mB87Tyfjd0A7cdRYtOf-5PSPwiNeA3mw4HzhRje98y5Qe-N8_U3oNH1O83CCltHHyi_Z-KlocIhzjSyJbRAIJzIk8c6hgwNxiwy-2MNu9wms31HHEOTUxgTO03VORbuBR7skyL6yRt_NRpVciQLhidx-BWR_Max2k-14iN2SE7YlQJt8bGAzyvUKd17TOeAMc21p5SXYZb2PB4RbZlHi7Bw?width=648&height=648&cropmode=none" class="img-circle" />
				</div>
				<p>
					Aleh Sivakou
					<small>Member since Nov. 2012</small>
				</p>
			</div>
			<div class="user-footer">
				<div class="pull-left">
					<a href="#" class="btn btn-default btn-flat">Profile</a>
				</div>
				<div class="pull-right">
					<a href="#" class="btn btn-default btn-flat">Sign out</a>
				</div>
			</div>
		</div>
	</ng-sidebar>
	<div ng-sidebar-content class="pull-right">
		<a href="javascript:void(0)" (click)="_toggleSidebar()">
			<img style="width: 50px; height: 50px;"  src="https://py1uaq.bn1.livefilestore.com/y4mB87Tyfjd0A7cdRYtOf-5PSPwiNeA3mw4HzhRje98y5Qe-N8_U3oNH1O83CCltHHyi_Z-KlocIhzjSyJbRAIJzIk8c6hgwNxiwy-2MNu9wms31HHEOTUxgTO03VORbuBR7skyL6yRt_NRpVciQLhidx-BWR_Max2k-14iN2SE7YlQJt8bGAzyvUKd17TOeAMc21p5SXYZb2PB4RbZlHi7Bw?width=648&height=648&cropmode=none" class="img-circle" />
			<span class="hidden-xs">Aleh Sivakou</span>
		</a>
	</div>
</ng-sidebar-container>
