@mixin font($size) {
	font-family: 'Source Sans Pro','Helvetica Neue',Helvetica,Arial,sans-serif;
	font-size: $size;
}

.user-profile-bar {
	position: absolute;
	top: 0;
	right: 0;
	z-index: 900;

	.user-profile-container {
		height: 100vh;
		@include font(0.875em);

		@media only screen and (max-width: 768px) {
			margin-left: -15px;
			width: 100vw;
		}

		.user-info {
			line-height: 50px;

			a, a:active, a:hover {
				color: #fff;
				text-decoration: none;
				font-size: 14px;
				padding: 0px 5px;
			}

			.user-photo {
				max-width: 35px;
				max-height: 35px;
				margin: 0 5px;
			}
		}

		.user-profile {
			margin-top: 50px;
			border-top-width: 0;
			border: 1px solid #FFF;
			color: #FFF;

			@media only screen and (max-width: 768px) {
				width: 100vw;
			}

			.user-photo {
				max-width: 90px;
				max-height: 90px;
				border: 3px solid rgba(255,255,255,0.2);
			}

			.user-header {
				background-color: #3c8dbc;

				.user-photo {
					margin: 5px auto;
				}

				.user-name {
					@include font(2em);
					margin: auto;
				}
			}

			.user-body {
				background-color: #fff;
			}

			.user-footer {
				background-color: #f9f9f9;

				.pull-left {
					@media only screen and (max-width: 768px) {
						margin-left: 15px;
					}
				}

				.pull-right {
					@media only screen and (max-width: 768px) {
						margin-right: 15px;
					}
				}
			}

			.user-header, .user-body, .user-footer {
				padding: 10px 10px;
				margin: inherit 0px;
			}

			.btn-default {
				color: #FFF;
				border-color: #ccc;
				background-color: #3c8dbc;
			}
		}
	}
}
