<ng-sidebar-container animate="true" class="user-profile-container">
	<ng-sidebar  closeOnClickOutside="true" mode="over" [(opened)]="opened" position="top">
		<div class="user-profile container-fluid">
			<div class="row user-header">
				<div class="col-lg-12">
					<div class="row text-center">
						<div class="col-xs-12">
							<img src="https://py1uaq.bn1.livefilestore.com/y4mB87Tyfjd0A7cdRYtOf-5PSPwiNeA3mw4HzhRje98y5Qe-N8_U3oNH1O83CCltHHyi_Z-KlocIhzjSyJbRAIJzIk8c6hgwNxiwy-2MNu9wms31HHEOTUxgTO03VORbuBR7skyL6yRt_NRpVciQLhidx-BWR_Max2k-14iN2SE7YlQJt8bGAzyvUKd17TOeAMc21p5SXYZb2PB4RbZlHi7Bw?width=648&height=648&cropmode=none"
								 class="user-photo img-circle"
								 alt="Aleh Sivakou" />
						</div>
					</div>
					<div class="row text-center user-name">
						<div class="col-xs-12">
							Aleh Sivakou
						</div>
					</div>
					<div class="row text-center">
						<div class="col-xs-12">
							Member since Mar. 2008
						</div>
					</div>
				</div>
			</div>
			<div class="row user-body">
				<div class="col-xs-12"></div>
				</div>
			<div class="row user-footer">
				<div class="pull-left">
					<a href="#" class="btn btn-default btn-flat">Profile</a>
				</div>
				<div class="pull-right">
					<a href="#" class="btn btn-default btn-flat">Sign out</a>
				</div>
			</div>
		</div>
	</ng-sidebar>
	<div ng-sidebar-content class="user-info pull-right" role="button">
		<span (click)="toggleMenu()">
			<img
				 src="https://py1uaq.bn1.livefilestore.com/y4mB87Tyfjd0A7cdRYtOf-5PSPwiNeA3mw4HzhRje98y5Qe-N8_U3oNH1O83CCltHHyi_Z-KlocIhzjSyJbRAIJzIk8c6hgwNxiwy-2MNu9wms31HHEOTUxgTO03VORbuBR7skyL6yRt_NRpVciQLhidx-BWR_Max2k-14iN2SE7YlQJt8bGAzyvUKd17TOeAMc21p5SXYZb2PB4RbZlHi7Bw?width=648&height=648&cropmode=none"
				 class="user-photo img-circle"
				 alt="Aleh Sivakou" />
			<a class="hidden-xs">Aleh Sivakou</a>
		</span>
	</div>
</ng-sidebar-container>
