<ng-sidebar-container animate="true" class="pull-left" style="height: 100px">
	<ng-sidebar  closeOnClickOutside="true" mode="over" [(opened)]="opened" position="top">
		<div class="row user-header">
			<img src="https://py1uaq.bn1.livefilestore.com/y4mB87Tyfjd0A7cdRYtOf-5PSPwiNeA3mw4HzhRje98y5Qe-N8_U3oNH1O83CCltHHyi_Z-KlocIhzjSyJbRAIJzIk8c6hgwNxiwy-2MNu9wms31HHEOTUxgTO03VORbuBR7skyL6yRt_NRpVciQLhidx-BWR_Max2k-14iN2SE7YlQJt8bGAzyvUKd17TOeAMc21p5SXYZb2PB4RbZlHi7Bw?width=648&height=648&cropmode=none" class="img-circle" alt="Aleh Sivakou" />
			<p>
				Alexander Pierce - Web Developer
				<small>Member since Nov. 2012</small>
			</p>
		</div>
		<div class="row user-body">
			<div class="col-xs-4 text-center">
				<a href="#">Followers</a>
			</div>
			<div class="col-xs-4 text-center">
				<a href="#">Sales</a>
			</div>
			<div class="col-xs-4 text-center">
				<a href="#">Friends</a>
			</div>
		</div>
		<div class="row user-footer">
			<div class="pull-left">
				<a href="#" class="btn btn-default btn-flat">Profile</a>
			</div>
			<div class="pull-right">
				<a href="#" class="btn btn-default btn-flat">Sign out</a>
			</div>
		</div>
	</ng-sidebar>
	<div ng-sidebar-content class="pull-right">
		<span (click)="toggleMenu()" role="button">
			<img style="width: 45px; height: 45px;" src="https://py1uaq.bn1.livefilestore.com/y4mB87Tyfjd0A7cdRYtOf-5PSPwiNeA3mw4HzhRje98y5Qe-N8_U3oNH1O83CCltHHyi_Z-KlocIhzjSyJbRAIJzIk8c6hgwNxiwy-2MNu9wms31HHEOTUxgTO03VORbuBR7skyL6yRt_NRpVciQLhidx-BWR_Max2k-14iN2SE7YlQJt8bGAzyvUKd17TOeAMc21p5SXYZb2PB4RbZlHi7Bw?width=648&height=648&cropmode=none" class="img-circle" alt="Aleh Sivakou" />
			<a class="hidden-xs">Aleh Sivakou</a>
		</span>
	</div>
</ng-sidebar-container>
