.user-profile-bar {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 900; }
  .user-profile-bar .user-profile-container {
    height: 100vh;
    font-family: 'Source Sans Pro','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size: 0.875em; }
    @media only screen and (max-width: 768px) {
      .user-profile-bar .user-profile-container {
        margin-left: -15px;
        width: 100vw; } }
    .user-profile-bar .user-profile-container .user-info {
      line-height: 50px; }
      .user-profile-bar .user-profile-container .user-info a, .user-profile-bar .user-profile-container .user-info a:active, .user-profile-bar .user-profile-container .user-info a:hover {
        color: #fff;
        text-decoration: none;
        font-size: 14px;
        padding: 0px 5px; }
      .user-profile-bar .user-profile-container .user-info .user-photo {
        max-width: 35px;
        max-height: 35px;
        margin: 0 5px; }
    .user-profile-bar .user-profile-container .user-profile {
      margin-top: 50px;
      border-top-width: 0;
      border: 1px solid #FFF;
      color: #FFF; }
      .user-profile-bar .user-profile-container .user-profile .row {
        margin-left: 0px;
        margin-right: 0px; }
        @media only screen and (-webkit-min-device-pixel-ratio: 1.5) {
          .user-profile-bar .user-profile-container .user-profile .row {
            margin-left: -15px;
            margin-right: -15px; } }
      @media only screen and (max-width: 768px) {
        .user-profile-bar .user-profile-container .user-profile {
          width: 100vw; } }
      .user-profile-bar .user-profile-container .user-profile .user-photo {
        max-width: 90px;
        max-height: 90px;
        border: 3px solid rgba(255, 255, 255, 0.2); }
      .user-profile-bar .user-profile-container .user-profile .user-header {
        background-color: #3c8dbc; }
        .user-profile-bar .user-profile-container .user-profile .user-header .user-photo {
          margin: 5px auto; }
        .user-profile-bar .user-profile-container .user-profile .user-header .user-name {
          font-family: 'Source Sans Pro','Helvetica Neue',Helvetica,Arial,sans-serif;
          font-size: 2em;
          margin: auto; }
      .user-profile-bar .user-profile-container .user-profile .user-body {
        background-color: #fff; }
      .user-profile-bar .user-profile-container .user-profile .user-footer {
        background-color: #f9f9f9; }
        @media only screen and (max-width: 768px) {
          .user-profile-bar .user-profile-container .user-profile .user-footer .pull-left {
            margin-left: 15px; } }
        @media only screen and (max-width: 768px) {
          .user-profile-bar .user-profile-container .user-profile .user-footer .pull-right {
            margin-right: 15px; } }
      .user-profile-bar .user-profile-container .user-profile .user-header, .user-profile-bar .user-profile-container .user-profile .user-body, .user-profile-bar .user-profile-container .user-profile .user-footer {
        padding: 10px 10px;
        margin: inherit 0px; }
      .user-profile-bar .user-profile-container .user-profile .btn-default {
        color: #FFF;
        border-color: #ccc;
        background-color: #3c8dbc; }

