.bold {
  font-weight: bold; }

.italic {
  font-style: italic; }

.capitalize {
  text-transform: capitalize; }

.uppercase, .sidebar .nav-menu-container .accordion .accordion-header {
  text-transform: uppercase; }

.lowecase {
  text-transform: lowercase; }

.left {
  float: left; }

.right {
  float: right; }

.text-left {
  text-align: left; }

.text-right {
  text-align: right; }

.text-center, .logo, .button, .button.button-search, .sidebar .nav-menu-container .accordion .accordion-header {
  text-align: center; }

.text-justify {
  text-align: justify; }

.left {
  float: left; }

.right {
  float: right; }

.text-left {
  text-align: left; }

.text-right {
  text-align: right; }

.text-center, .logo, .button, .button.button-search, .sidebar .nav-menu-container .accordion .accordion-header {
  text-align: center; }

.text-justify {
  text-align: justify; }

.logo {
  width: 180px;
  height: 40px;
  line-height: 40px;
  font-size: 24px;
  padding: 5px 15px; }

.textbox {
  position: relative;
  width: 100%;
  height: 22px;
  font-size: 12px;
  padding: 0px 10px;
  border: 1px solid #808080;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  .textbox:focus {
    border-color: #66afe9;
    outline: 0;
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #66afe9;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #66afe9;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #66afe9; }
  .textbox.required {
    border-color: #FF0000;
    outline: 0;
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #FF0000;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #FF0000;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #FF0000; }

.left {
  float: left; }

.right {
  float: right; }

.text-left {
  text-align: left; }

.text-right {
  text-align: right; }

.text-center, .logo, .button, .button.button-search, .sidebar .nav-menu-container .accordion .accordion-header {
  text-align: center; }

.text-justify {
  text-align: justify; }

.button {
  text-decoration: none; }
  .button.button-text {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    font-size: 14px;
    padding: 10px 20px 10px 20px; }
  .button.button-search {
    position: absolute;
    right: 20px;
    min-height: 22px;
    padding: 2px 5px;
    padding-bottom: 0px;
    cursor: pointer;
    -webkit-border-top-right-radius: 9px;
    -webkit-border-bottom-right-radius: 9px;
    -moz-border-radius-topright: 9px;
    -moz-border-radius-bottomright: 9px;
    border-top-right-radius: 9px;
    border-bottom-right-radius: 9px; }

.accordion .accordion-header {
  padding: 10px; }

.accordion .accordion-item {
  position: relative;
  overflow: hidden; }
  .accordion .accordion-item input {
    position: absolute;
    opacity: 0;
    z-index: -1; }
  .accordion .accordion-item .title {
    position: relative;
    display: block;
    cursor: pointer; }
    .accordion .accordion-item .title:after {
      position: absolute;
      right: 0;
      top: 0;
      display: block;
      width: 3em;
      text-align: center;
      -webkit-transition: all .35s;
      -o-transition: all .35s;
      transition: all .35s; }
  .accordion .accordion-item input:checked ~ .accordion-item-content {
    max-height: 100vh; }
  .accordion .accordion-item .accordion-item-content {
    max-height: 0;
    overflow: hidden;
    -webkit-transition: max-height .35s;
    -o-transition: max-height .35s;
    transition: max-height .35s; }

.sidebar {
  min-width: 230px;
  min-height: 100vh;
  overflow: auto;
  z-index: 1000; }
  .sidebar .logo {
    min-width: 200px;
    height: 40px;
    line-height: 40px; }
  .sidebar .search {
    min-width: 200px;
    min-height: 22px;
    padding: 0px 15px; }
  .sidebar .nav-menu-container {
    min-width: 230px;
    padding: 15px 0px; }
    .sidebar .nav-menu-container .accordion {
      width: 230px; }
      .sidebar .nav-menu-container .accordion .accordion-item {
        font-size: 14px; }
        .sidebar .nav-menu-container .accordion .accordion-item .title {
          padding: 10px 15px; }

