@import '../../assets/sass/variables/_sizes.scss';
@import '../../assets/sass/variables/_colors.scss';
@import '../../assets/sass/helpers/_fonts.scss';
@import '../../assets/sass/helpers/positions.scss';
@import '../../assets/sass/components/_logo.scss';
@import '../../assets/sass/components/_textbox.scss';
@import '../../assets/sass/components/_button.scss';
@import '../../assets/sass/components/_accordion.scss';

.sidebar {
	min-width: ($sidebar-width);
	min-height: 100vh;
	overflow: auto;
	z-index: 1000;

	.logo {
		min-width: ($sidebar-width - 30px);
		height: ($header-height - 10px);
		line-height: ($header-height - 10px);
	}

	.search {
		min-width: ($sidebar-width - 30px);
		min-height: $textbox-height;
		padding: 0px 15px;
	}

	.nav-menu-container {
		min-width: ($sidebar-width);
		padding: 15px 0px;

		.accordion {
			width: ($sidebar-width);

			.accordion-header {
				@extend .text-center;
				@extend .uppercase;
			}

			.accordion-item {
				font-size: $medium;

				.title {
					padding: 10px 15px;
				}

				input:checked + label {
				}

				.accordion-item-content {

					.accordion {

						.accordion-item {
						}
					}
				}
			}
		}
	}
}
