<div class="sidebar">
	<div class="logo" (click)="toggleMenu()">
		<span role="button">
			Home <b>Cloud</b>
		</span>
	</div>
	<div class="search">
		<input type="text" class="textbox left" placeholder="Search..." />
		<span class="button button-search"><i class="fa fa-search"></i></span>
	</div>
	<div class="nav-menu-container">
		<div>
			<div class="accordion">
				<div class="accordion-header">
					Navigation Panel
				</div>
				<div class="accordion-item">
					<input id="nas" type="checkbox" name="nav-control-root">
					<label class="title" for="nas"><i class="fa fa-hdd-o">&nbsp;</i><span>NAS</span></label>
					<div class="accordion-item-content">
						<div class="accordion">
							<div class="accordion-item">
								<input id="storages" type="checkbox" name="nav-control-first">
								<label class="title" for="storages">&nbsp;<i class="fa fa-hdd-o"></i>&nbsp;<span>Storages</span></label>
							</div>
							<div class="accordion-item">
								<input id="catalogs" type="checkbox" name="nav-control-first">
								<label class="title" for="catalogs">&nbsp;<i class="fa fa-folder-open">&nbsp;</i><span>Catalogs</span></label>
								<div class="accordion-item-content">
									<div class="accordion">
										<div class="accordion-item">
											<input id="downloads" type="checkbox" name="nav-control-second">
											<label class="title" for="downloads">&nbsp;&nbsp;<i class="fa fa-download">&nbsp;</i><span>Downloads</span></label>
										</div>
										<div class="accordion-item">
											<input id="dcim" type="checkbox" name="nav-control-second">
											<label class="title" for="dcim">&nbsp;&nbsp;<i class="fa fa-photo">&nbsp;</i><span>DCIM</span></label>
										</div>
										<div class="accordion-item">
											<input id="temp" type="checkbox" name="nav-control-second">
											<label class="title" for="temp">&nbsp;&nbsp;<i class="fa fa-trash">&nbsp;</i><span>Temporary</span></label>
										</div>
									</div>
								</div>
							</div>
							<div class="accordion-item">
								<input id="files" type="checkbox" name="nav-control-first">
								<label class="title" for="files">&nbsp;<i class="fa fa-file"></i>&nbsp;<span>Files</span></label>
								<div class="accordion-item-content">
									<div class="accordion">
										<div class="accordion-item">
											<input id="audio" type="checkbox" name="nav-control-second">
											<label class="title" for="audio">&nbsp;&nbsp;<i class="fa fa-file-audio-o">&nbsp;</i><span>Audio</span></label>
										</div>
										<div class="accordion-item">
											<input id="video" type="checkbox" name="nav-control-second">
											<label class="title" for="video">&nbsp;&nbsp;<i class="fa fa-file-movie-o">&nbsp;</i><span>Video</span></label>
										</div>
										<div class="accordion-item">
											<input id="photo" type="checkbox" name="nav-control-second">
											<label class="title" for="photo">&nbsp;&nbsp;<i class="fa fa-file-photo-o">&nbsp;</i><span>Photo</span></label>
										</div>
										<div class="accordion-item">
											<input id="photo" type="checkbox" name="nav-control-second">
											<label class="title" for="photo">&nbsp;&nbsp;<i class="fa fa-archive">&nbsp;</i><span>Documents</span></label>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="accordion-item">
					<input id="databases" type="checkbox" name="nav-control-root">
					<label class="title" for="databases"><i class="fa fa-database">&nbsp;</i><span>Databases</span></label>
				</div>
			</div>
		</div>
	</div>
</div>