<ng-sidebar-container class="nav-menu">
	<!-- Page content -->
	<div ng-sidebar-content>
		<a class="visible-xs" role="button" (click)="_toggleSidebar()">
			<span class="glyphicon glyphicon-menu-hamburger"></span>
		</a>
		<div class="logo">
			<a class="hidden-xs" role="button" (mouseover)="_toggleSidebar()">
				<b>Admin</b>LTE
			</a>
		</div>
	</div>
	<!-- A sidebar -->
	<ng-sidebar closeOnClickOutside="true" mode="over" [(opened)]="_opened">
		<aside class="nav-menu-container">
			<section>
				<form action="#" method="get">
					<div>
						<input type="text" name="q" placeholder="Search..." />
						<span>
							<button type='submit' name='search' id='search-btn' class="btn btn-flat"><i class="fa fa-search"></i></button>
						</span>
					</div>
				</form>
				<ul>
					<li></li>
					<li>
						<a href="#">
							<i class="fa fa-dashboard"></i> <span>Menu</span> <i class="fa fa-angle-left pull-right"></i>
						</a>
						<ul>
							<li class="active"><a href="index.html"><i></i> Menu Item</a></li>
							<li><a href="index2.html"><i></i> <span>Menu Item</span> <small class="label pull-right bg-green">new</small></a></li>
						</ul>
					</li>
				</ul>
			</section>
		</aside>
	</ng-sidebar>

</ng-sidebar-container>