.logo {
  background-color: rgba(0, 0, 0, 0.2);
  align-content: center;
  text-align: center; }
  .logo a {
    font-family: 'Source Sans Pro','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size: 1.8em;
    color: #fff;
    line-height: 50px; }

