.app-header {
    font-size: 16px;
    color: #565656 !important;
}

.app-select .app-select-header {
    font-size: 16px;
    color: #565656 !important;
}

.app-select .dropdown-item.active {    
    background-color: #0058ad;
    color: #fafafa;
}