.command-container {
    border-bottom: 1px solid rgb(204, 204, 204);
    padding: 0px 5px;
    padding-top: 10px;
    padding-bottom: 1px;
}

.command-container a,
.command-container a label,
.command-container a span,
.more a,
.more a label,
.more a span {
    cursor: pointer;
    text-decoration: none;
}

.command-container a::before {
    content: "";
    padding: 5px;
}

.app-header {
    font-size: 16px;
}

.sidenav {
    min-width: 100%;
}

.sidenav table {
    padding-right: 5px;
    margin-top: 0.5rem;
}

.sidenav .application {
    cursor: pointer;
    padding: 15px 12px;
}

.sidenav .application:hover {
    background-color: #0058ad;;
    color: #fafafa;
}

.application .title {
    float: left;
}

.application .commands {
    float: right;
}

.application:hover .commands button {
    color: #fafafa;
}