<div class="row">
  <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12">
      <span class="app-header">
          Applications
          <clr-icon shape="angle" dir="right"></clr-icon>
          <clr-dropdown class="app-select">
            <span clrDropdownTrigger class="app-select-header">
                {{selected}}
                <clr-icon shape="caret down"></clr-icon>
            </span>
            <clr-dropdown-menu *clrIfOpen clrPosition="bottom-left">
                <a clrDropdownItem [ngClass]="{'active': type.value == selected}" *ngFor="let type of types" (click)="select(type.value)">
                    <clr-icon attr.shape="{{type.shape}}" class="is-solid"></clr-icon>
                    {{type.value}}
                </a>
            </clr-dropdown-menu>
        </clr-dropdown>
    </span>      
  </div>
</div>
<app-client-app-list *ngIf="isClientAppSelected"></app-client-app-list>
<app-api-app-list *ngIf="isApiAppSelected"></app-api-app-list>