<div class="row">
  <div class="col-xl-3 col-lg-4 col-md-5 col-sm-12 col-xs-12">
    <div class="main-container">
        <div class="content-container">
            <nav class="sidenav">
              <div class="command-container">
                <a>
                    <clr-icon shape="plus-circle"></clr-icon>
                    <span>Add application</span>
                </a>
              </div>
                <div class="row">
                    <div class="col-lg-12">
                        <app-application-card></app-application-card>
                    </div>
                    <div class="col-lg-12">
                        <app-application-card></app-application-card>
                    </div>
                    <div class="col-lg-12">
                        <app-application-card></app-application-card>
                    </div>
                </div>
            </nav>
        </div>
    </div>
  </div>
  <div class="col-xl-9 col-lg-8 col-md-7 col-sm-12 col-xs-12">
    <app-api-app-details></app-api-app-details>
  </div>
</div>