.notification-container {
  margin: 10px 10px;
  width: 386px;
  height: 60px;
  position: absolute;
  right: 0;
  z-index: 2000;
  background-color: #FFF;
  box-shadow: 2px 2px 5px grey; }
  .notification-container .title {
    padding: 6px 6px;
    font-size: 18px; }
    .notification-container .title .text {
      line-height: 18px;
      font-size: 13px; }
  .notification-container .body {
    font-size: 13px;
    padding: 3px 6px; }
  .notification-container .success {
    color: chartreuse; }
  .notification-container .warning {
    color: goldenrod; }
  .notification-container .error {
    color: red; }
  .notification-container .info {
    color: cadetblue; }

