.notification-container {
	margin: 10px 10px;
	width: 386px;
	height: 60px;
	position: absolute;
	right: 0;
	z-index: 2000;
	background-color: #FFF;
	box-shadow: 2px 2px 5px grey;

	.title {
		padding: 6px 6px;
		font-size: 18px;

		.text {
			line-height: 18px;
			font-size: 13px;
		}
	}

	.body {
		font-size: 13px;
		padding: 3px 6px;
	}

	.success {
		color: chartreuse;
	}

	.warning {
		color: goldenrod;
	}

	.error {
		color: red;
	}

	.info {
		color: cadetblue;
	}
}
