.application {
    cursor: pointer;
    padding: 10px 15px;

    margin-right: 15px;
    margin-top: 2px;
}

.application:hover {
    background-color: #0058ad;
    color: #fafafa;
}

.application .title,
.application .commands
{
    display: inline;
}

.application .commands {
    float: right;
}

.application:hover .commands button {
    color: #fafafa;
}