<div class="card" (click)="onClick()" [class.enabled]="canClick" on-mouseover="onLoad()">
  <div class="card-img">
      <img src="https://www.planwallpaper.com/static/images/general-night-golden-gate-bridge-hd-wallpapers-golden-gate-bridge-wallpaper.jpg">
  </div>
  <div class="card-block">
    <div class="card-title">
        <span>{{catalog.name}}</span>
        <div class="commands" (click)="$event.stopPropagation()">
          <clr-dropdown>
              <button class="nav-icon" clrDropdownTrigger>
                  <clr-icon shape="ellipsis-horizontal"></clr-icon>
              </button>
              <clr-dropdown-menu *clrIfOpen clrPosition="bottom-right">
                <a clrDropdownItem (click)="onDetail()" [class.disabled]="!canDetail">View Details</a>
                <div class="dropdown-divider"></div>
                <a clrDropdownItem (click)="onEdit()" [class.disabled]="!canEdit">Rename</a>
                <a clrDropdownItem (click)="onRemove()" [class.disabled]="!canRemove">Remove</a>
              </clr-dropdown-menu>
          </clr-dropdown>
        </div>
      </div>
    </div>
</div>
<app-catalog-edit
      *ngIf="isEditMode"
      [catalog]="catalog"
      [visible]="isEditMode"
      (save)="save($event)"
      (cancel)="cancel($event)"></app-catalog-edit>
<app-catalog-remove
      *ngIf="isRemoveMode"
      [catalog]="catalog"
      [visible]="isRemoveMode"
      (remove)="remove($event)"
      (cancel)="cancel($event)"></app-catalog-remove> 
<app-catalog-details
      [catalog]="catalog"
      [visible]="isDetailMode"></app-catalog-details>  