<div *ngIf="entry">
  <div class="catalog-entry-group-header">
    Information
  </div>
  <div class="catalog-entry-details">
      <div class="catalog-entry-details-item">
        <div class="title">Name</div>
        <div class="description">{{entry.name}}</div>
      </div>
      <div class="catalog-entry-details-item">
        <div class="title">Size</div>
        <div class="description">{{entry.size}}</div>
      </div>
      <div class="catalog-entry-details-item">
        <div class="title">Type</div>
        <div class="description">{{entry.type}}</div>
      </div>
      <div class="catalog-entry-details-item">
        <div class="title">Created at</div>
        <div class="description">{{entry.creationDate | date:'fullDate'}}</div>
      </div>
  </div>
</div>
