.breadcrumb {
    padding-top: 50px;
}

.breadcrumb a {
    cursor: pointer;
    text-decoration: none;
}

.breadcrumb .separator {
    margin: 0px 0px 3px 0px;
    width: 24px;
}

.breadcrumb * {
    font-size: 16px;
}

.breadcrumb .label {
    border: none !important;
    padding: 0px;
}

.breadcrumb .badge {
    font-size: 10px;
}