<div class="grid content-header">
	<div class="row">
		<div class="col-8 command-bar">
			<a class="command"><span class="fa fa-plus-circle"></span>&nbsp;Create</a>
			<a class="command" *ngIf="showRenameCommand" (click)="rename()"><span class="fa fa-edit"></span>&nbsp;Rename</a>
			<a class="command" *ngIf="showDeleteCommand"><span class="fa fa-remove"></span>&nbsp;Delete</a>
			<a class="command" *ngIf="showDownloadCommand"><span class="fa fa-download"></span>&nbsp;Download</a>
		</div>
	</div>
</div>
<div class="grid table storage-container">
	<div class="row header">
		<div class="column col-5">Storage Name</div>
		<div class="column col-6">Used space</div>
		<div class="column col-1">Quota</div>
	</div>
	<div class="row" *ngFor="let storage of storages">
		<div class="column col-5">
			<a [routerLinkActive]="['link-active']" [routerLink]="['/catalogs']">
				{{storage.Name}}
			</a>
		</div>
		<div class="column col-6">
			<div class="progress progress-xs hidden-xs" title="{{storage.SizeString}} of {{storage.QuotaString}} used">
				<div [ngClass]="['progress-bar', storage.Progress < 31 ? 'progress-bar-success' : (storage.Progress < 67 ? 'progress-bar-warning' : 'progress-bar-danger')]" [style.width]="storage.Progress + '%'"></div>
			</div>
			<span [ngClass]="['badge', 'visible-xs', storage.Progress < 31 ? 'bg-green' : (storage.Progress < 67 ? 'bg-yellow' : 'bg-red')]">{{storage.SizeString}} of {{storage.QuotaString}}</span>
		</div>
		<div class="column col-1">
			<span [ngClass]="['badge', storage.Progress < 31 ? 'bg-green' : (storage.Progress < 67 ? 'bg-yellow' : 'bg-red')]">{{storage.QuotaString}}</span>
		</div>
	</div>
</div>
