.directory {
    background-image: url('assets/images/directory.png');
}

.file {
    background-image: url('assets/images/file.png');
}

.txt,
.file.txt {
    background-image: url('assets/images/txt.png');
}
.pdf,
.file.pdf {
    background-image: url('assets/images/pdf.png');
}
.dll,
.file.dll {
    background-image: url('assets/images/dll.png');
}
.exe,
.file.exe {
    background-image: url('assets/images/exe.png');
}
.iso,
.file.iso {
    background-image: url('assets/images/iso.png');
}

.rar,
.file.rar {
    background-image: url('assets/images/rar.png');
}
.zip,
.file.zip {
    background-image: url('assets/images/zip.png');
}
.cab,
.file.cab {
    background-image: url('assets/images/cab.png');
}

.htm, .html, .asp, .aspx,
.file.htm, .file.html, .file.asp, .file.aspx {
    background-image: url('assets/images/html.png');
}

.docx,
.file.docx {
    background-image: url('assets/images/docx.png');
}
.doc,
.file.doc {
    background-image: url('assets/images/doc.png');
}
.xlsx,
.file.xlsx {
    background-image: url('assets/images/xlsx.png');
}
.xls,
.file.xls {
    background-image: url('assets/images/xls.png');
}

.jpg, jpeg,
.file.jpg, .file.jpeg {
    background-image: url('assets/images/jpg.png');
}
.png,
.file.png {
    background-image: url('assets/images/png.png');
}
.gif,
.file.gif {
    background-image: url('assets/images/gif.png');
}
.bmp,
.file.bmp {
    background-image: url('assets/images/bmp.png');
}
.wmv,
.file.wmv {
    background-image: url('assets/images/wmv.png');
}
.avi,
.file.avi {
    background-image: url('assets/images/avi.png');
}
.mp4,
.file.mp4 {
    background-image: url('assets/images/mp4.png');
}

.mp3,
.file.mp3 {
    background-image: url('assets/images/mp3.png');
}
.wav,
.file.wav {
    background-image: url('assets/images/wav.png');
}
.wma,
.file.wma {
    background-image: url('assets/images/wma.png');
}