/* You can add global styles to this file, and also import other style files */
* {
    font-family: "Segoe UI","Segoe WP",Tahoma,Arial,sans-serif;
	font-size: 13px;
	
	outline: none !important;
}

.nav-menu .nav-trigger-icon {
    color: #fafafa;
}
.nav-menu .nav-group * {
    color: #fafafa;
}

.nav-menu .nav-group .nav-group-content .nav-group-trigger:hover {
    background: #3d3d3d;
}

.nav-menu .nav-group .nav-group-children {
    background: #000000;
}

.nav-menu .nav-group.is-expanded .nav-group-content .nav-group-trigger,
.nav-menu .nav-group.is-expanded .nav-group-content .nav-group-trigger:hover {
    background: #3d3d3d;
}

.details-nav > .nav-trigger {
    display: none !important;
}

.modal-title {
    border-bottom: 2px solid rgba(86,86,86,.2);
}

.textbox {
	position: relative;
	width: 50%;
}
.textbox input[type=text]{
	width: 100%;
	outline: none;
	border:none;
	border-bottom: 1px solid #777;
}
.textbox input[type=text]:invalid {
	box-shadow: none !important;
}
.textbox .placeholder {
	position: absolute;
	pointer-events: none;
	top: 22px;
	transition: 0.2s ease all;
}
.textbox input:focus ~ .placeholder,
.textbox input:not(:focus):valid ~ .placeholder{
	top: 0px;
	font-size: 13px;
	opacity: 1;
}

a.disabled, a:hover.disabled
a.disabled, a:hover.disabled * {
    color: gray !important;
    cursor: not-allowed !important;
    text-decoration: none !important;
}

.nav-link, .nav-link:hover, .nav-link.active,
.nav-link:hover .nav-icon, .nav-link.active .nav-icon,
.nav-group-content:hover .nav-icon {
    fill: #fafafa !important;
    color: #fafafa !important;
}

.clickable {
	cursor: pointer;
    text-decoration: none;
}