<app-right-panel>
  <div class="catalog-group-header" *ngIf="catalog">
    Information
  </div>
  <div *ngIf="catalog" class="catalog-details">
      <div class="catalog-details-item">
        <div class="title">Name</div>
        <div class="description">{{catalog.Name}}</div>
      </div>
      <div class="catalog-details-item">
        <div class="title">Size</div>
        <div class="description">{{catalog.Size}}</div>
      </div>
      <div class="catalog-details-item">
        <div class="title">Created at</div>
        <div class="description">{{catalog.CreationDate | date:'fullDate'}}</div>
      </div>
  </div>
</app-right-panel>
