@import '../variables/_typography.scss';
@import '../variables/_sizes.scss';
@import '../helpers/positions.scss';
@import '../mixins/_borders.scss';

.button {
	text-decoration: none;
	@extend .text-center;

	&.button-text {
		@include border-radius(5px);
		font-size: $medium;
		padding: 10px 20px 10px 20px;
	}

	&.button-search {
		position: absolute;
		right: 20px;
		min-height: $textbox-height;
		padding: 2px 5px;
		padding-bottom: 0px;
		cursor: pointer;

		@extend .text-center;
		@include border-right-radius($textbox-border-radius+2px);
	}
}
