@import '../variables/_sizes.scss';
@import '../helpers/_fonts.scss';

* {
	box-sizing: border-box;
}

.grid {
	min-width: $full-size-percentage;

	.header {
		@extend .bold;
	}

	.row {
		width: $full-size-percentage;

		&::after {
			content: "";
			clear: both;
			display: table;
		}

		[class*="col-"] {
			float: left;
		}

		.col-1 {
			width: ($full-size-percentage/12 * 1);
		}

		.col-2 {
			width: ($full-size-percentage/12 * 2);
		}

		.col-3 {
			width: ($full-size-percentage/12 * 3);
		}

		.col-4 {
			width: ($full-size-percentage/12 * 4);
		}

		.col-5 {
			width: ($full-size-percentage/12 * 5);
		}

		.col-6 {
			width: ($full-size-percentage/12 * 6);
		}

		.col-7 {
			width: ($full-size-percentage/12 * 7);
		}

		.col-8 {
			width: ($full-size-percentage/12 * 8);
		}

		.col-9 {
			width: ($full-size-percentage/12 * 9);
		}

		.col-10 {
			width: ($full-size-percentage/12 * 10);
		}

		.col-11 {
			width: ($full-size-percentage/12 * 11);
		}

		.col-12 {
			width: ($full-size-percentage/12 * 12);
		}
	}
}