@import '../variables/_sizes.scss';
@import '../variables/_typography.scss';
@import '../helpers/positions.scss';

.logo {
	width: $logo-width;
	height: ($header-height - 10px);
	line-height: ($header-height - 10px);
	font-size: $extra-large;
	padding: 5px 15px;
	@extend .text-center;
}
