@import '../variables/_sizes.scss';
@import '../variables/_colors.scss';
@import '../variables/_typography.scss';

@import '../mixins/_borders.scss';

.textbox {
	position: relative;
	width: 100%;
	height: $textbox-height;
	font-size: $small;
	padding: 0px 10px;
	border: 1px solid $dark-gray;
	@include border-radius($textbox-border-radius);
	@include border-sizing(border-box);

	&:focus {
		@include border-shadow($light-blue);
	}

	&.required {
		@include border-shadow($red);
	}
}
