<clr-modal [(clrModalOpen)]="isVisible" [clrModalClosable]="false" *ngIf="isVisible">
    <h3 class="modal-title">{{header}}</h3>
    <div class="modal-body">
        <app-alert *ngIf="catalogForm.invalid && errors.length == 0" message="The catalog name is required"></app-alert>
        <app-alert *ngFor="let error of errors" message="{{error}}"></app-alert>
        <form class="form-group" #catalogForm="ngForm">
            <div class="textbox">
                <br/>
                <input
                    id="catalogName"
                    name="catalogName"
                    type="text"
                    class="form-control"
                    [(ngModel)]="catalog.name"
                    (ngModelChange)="onChange()"
                    #name="ngModel"
                    required />
                <span class="placeholder">Catalog Name</span>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline" (click)="onCancel($event)">Cancel</button>
        <button type="button" class="btn btn-primary" (click)="onSave($event)" [disabled]="catalogForm.invalid || errors.length > 0">Save</button>
    </div>
</clr-modal>