@mixin border-shadow($color) {
	border-color: $color;
	outline: 0;
	-moz-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px $color;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px $color;
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px $color;
}

@mixin border-radius($radius) {
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
	border-radius: $radius;
}

@mixin border-left-radius($radius) {
	-webkit-border-top-left-radius: $radius;
	-webkit-border-bottom-left-radius: $radius;
	-moz-border-radius-topleft: $radius;
	-moz-border-radius-bottomleft: $radius;
	border-top-left-radius: $radius;
	border-bottom-left-radius: $radius;
}

@mixin border-right-radius($radius) {
	-webkit-border-top-right-radius: $radius;
	-webkit-border-bottom-right-radius: $radius;
	-moz-border-radius-topright: $radius;
	-moz-border-radius-bottomright: $radius;
	border-top-right-radius: $radius;
	border-bottom-right-radius: $radius;
}

@mixin border-sizing($sizing) {
	-webkit-box-sizing: $sizing;
	-moz-box-sizing: $sizing;
	box-sizing: $sizing;
}
