<div class="card clickable" (click)="open()">
    <div class="card-img">
        <img src="https://www.planwallpaper.com/static/images/general-night-golden-gate-bridge-hd-wallpapers-golden-gate-bridge-wallpaper.jpg">
    </div>
    <div class="card-block">
      <div class="card-title">
          <span>{{catalog.Name}}</span>
          <div class="commands" (click)="$event.stopPropagation()">
            <clr-dropdown>
                <button class="nav-icon" clrDropdownTrigger>
                    <clr-icon shape="ellipsis-horizontal"></clr-icon>
                </button>
                <clr-dropdown-menu *clrIfOpen clrPosition="bottom-right">
                  <a clrDropdownItem (click)="detail()">View Details</a>
                  <div class="command-group">
                    <a clrDropdownItem (click)="edit()">Rename</a>
                    <a clrDropdownItem (click)="remove()">Remove</a>
                </div>
                </clr-dropdown-menu>
            </clr-dropdown>
          </div>
        </div>
      </div>
</div>