<clr-tabs>
    <clr-tab>
        <button clrTabLink class="tab-title">Essentials</button>
        <clr-tab-content *clrIfActive="true">
        </clr-tab-content>
    </clr-tab>
    <clr-tab>
        <button clrTabLink class="tab-title">Origins</button>
        <clr-tab-content *clrIfActive>
        </clr-tab-content>
    </clr-tab>
    <clr-tab>
        <button clrTabLink class="tab-title">Keys</button>
        <clr-tab-content *clrIfActive>
        </clr-tab-content>
    </clr-tab>
    <clr-tab>
        <button clrTabLink class="tab-title">Resource Access</button>
        <clr-tab-content *clrIfActive>
        </clr-tab-content>
    </clr-tab>
</clr-tabs>
<a (click)="close($event)" class="close clickable">
    <clr-icon shape="window-close" size="24"></clr-icon>
</a>