.details-nav {
    position: absolute;
    top: 2.5rem;
    bottom: 0;
    right: 0;

    padding-top: 0px;

    background: #ffffff;
    border-left: 1px solid rgba(86,86,86,.2) !important;
    -moz-box-shadow: 4px 4px 7px #d0d0d0;
    -webkit-box-shadow: 4px 4px 7px #d0d0d0;
    -box-shadow: 4px 4px 7px #d0d0d0;
}

.details-nav.is-collapsed {
    width: 0 !important;
    min-width: 0 !important;
}

.details-nav .nav-content {
    padding: 5px 5px;
}