<div class="row">
  <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
    <app-catalog-breadcrumb (navigate)="open($event)"></app-catalog-breadcrumb>
  </div>
  <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 command-container">
    <a (click)="createCatalog()" [class.disabled]="!canCreateCatalog">
      <clr-icon shape="plus-circle" size="24"></clr-icon>
      <span>New Catalog</span>
    </a>
  </div>
</div>
<div class="row">
    <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12" *ngFor="let item of data">
      <app-catalog-card        
          [catalog]="item"
          (select)="select($event)"
          (save)="save($event)"
          (remove)="remove($event)">
      </app-catalog-card>
    </div>
</div>


   