<a clrVerticalNavLink routerLink="/catalogs" routerLinkActive="active" title="Storage">
    <clr-icon shape="cloud-network" clrVerticalNavIcon></clr-icon>
    Storage
</a>
<clr-vertical-nav-group routerLinkActive="active">
    <a hidden aria-hidden="true"></a>
    <clr-icon shape="user" clrVerticalNavIcon></clr-icon>
    Normal
    <clr-vertical-nav-group-children>
        <a clrVerticalNavLink>Pidgey</a>
        <a clrVerticalNavLink>Snorlax</a>
    </clr-vertical-nav-group-children>
</clr-vertical-nav-group>
