.directory {
    background-size: auto 100px;
    background-repeat: no-repeat;
    background-position: center;
}

.removed {
    color: crimson;
    position: absolute;
    top: 85px;
    left: 75px;
}