$full-size-percentage: 100%;
$full-size-vw: 100vw;
$full-size-vh: 100vh;

$header-height: 50px;
$logo-width: 180px;
$sidebar-toggle-width: 50px;
$sidebar-width: $logo-width + $sidebar-toggle-width;
$textbox-height: 22px;
$textbox-border-radius: 7px;
