<clr-modal [(clrModalOpen)]="catalog"[clrModalClosable]="false">
    <h3 class="modal-title">Edit Catalog</h3>
    <div class="modal-body">
        <div class="form-group">
            <label for="txtCatalogName" aria-haspopup="true" role="tooltip" class="tooltip tooltip-validation invalid tooltip-md" required minlength="1">
                <input id="txtCatalogName" *ngIf="catalog" type="text" [value]="catalog.Name" (input)="catalog.Name = $event.target.value" placeholder="Catalog name" class="required" />
                <span class="tooltip-content">
                    Please enter catalog name
                </span>
            </label>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline" (click)="cancel()">Cancel</button>
        <button type="button" class="btn btn-primary" (click)="confirm()">Save</button>
    </div>
</clr-modal>