@import '../../assets/sass/layout/_header.scss';
@import '../../assets/sass/layout/_content.scss';
@import '../../assets/sass/layout/_footer.scss';
@import '../../assets/sass/variables/_sizes.scss';
@import '../../assets/sass/helpers/positions.scss';

.body {
	max-width: $full-size-percentage;
	min-height: $full-size-vh;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.spacer {
	flex: 1;
}