<div class="body skin-blue content-fluid">
	<div class="row">
		<nav-menu></nav-menu>
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 header">
			&nbsp;
		</div>
		<user-profile-bar></user-profile-bar>
	</div>
	<div class="row content-header bottom">
		<div class="col-md-9">
			<h4>
				<a href="#"><i class=""></i> Catalog name</a>
				<a href="#"><i class=""></i><small> Catalog name</small></a>
			</h4>
		</div>
		<div class="col-md-3">
			<span><small>416Mb of 1.2Gb used</small></span>
		</div>
	</div>
	<div class="row content">
		<div class="col-md-12">
			<router-outlet></router-outlet>
		</div>
	</div>
	<div class="row footer text-center bottom">
		<div class="col-md-12">
			<b>Version</b> 1.0
		</div>
		<strong class="">Copyright &copy; 2017 <a href="#">Aleh Sivakou</a>.</strong> All rights reserved.
	</div>
</div>
