.hamburger, .header .hamburger {
  background: none;
  line-height: 35px;
  padding: 5px 15px;
  border: 0;
  font-size: 1.4em;
  font-weight: bold;
  cursor: pointer;
  outline: none; }

.float-left {
  float: left; }

.float-right {
  float: right; }

.left, .top-left, .bottom-left, .wide {
  position: absolute;
  left: 0; }

.right, .top-right, .bottom-right, .wide {
  position: absolute;
  right: 0; }

.top, .top-left, .top-right, .wide {
  position: absolute;
  top: 0; }

.bottom, .bottom-left, .bottom-right, .wide {
  position: absolute;
  bottom: 0; }

.horizontal-center, .center, .wide {
  position: relative;
  margin-left: auto;
  margin-right: auto; }

.vertical-center, .center, .wide {
  position: relative;
  margin-top: auto;
  margin-bottom: auto; }

.text-left {
  text-align: left; }

.text-right {
  text-align: right; }

.text-center, .logo, .header .logo, .footer {
  text-align: center; }

.text-justify {
  text-align: justify; }

.logo, .header .logo {
  width: 180px;
  height: 40px;
  line-height: 40px;
  font-size: 24px;
  padding: 5px 15px; }

.image-circle, .header .userbar-toggle .photo {
  border-radius: 50%; }

.header {
  min-height: 50px;
  max-height: 50px;
  font-size: 14px;
  background-color: #161616;
  color: #FFF; }
  .header .hamburger {
    color: #FFF;
    line-height: 40px; }
  .header .sidebar-toggle {
    min-width: 50px;
    height: 50px; }
  .header .userbar-toggle {
    height: 40px;
    max-height: 40px;
    line-height: 40px;
    cursor: pointer;
    margin: 5px 5px; }
    .header .userbar-toggle .photo {
      max-height: 40px;
      border: 1px solid #b5b5b5; }
    .header .userbar-toggle span {
      height: 40px;
      max-height: 40px;
      margin: 5px 5px; }

.bold, .grid .header {
  font-weight: bold; }

.italic {
  font-style: italic; }

.capitalize {
  text-transform: capitalize; }

.uppercase {
  text-transform: uppercase; }

.lowecase {
  text-transform: lowercase; }

* {
  box-sizing: border-box; }

.grid {
  min-width: 100%; }
  .grid .row {
    width: 100%; }
    .grid .row::after {
      content: "";
      clear: both;
      display: table; }
    .grid .row [class*="col-"] {
      float: left; }
    .grid .row .col-1 {
      width: 8.33333%; }
    .grid .row .col-2 {
      width: 16.66667%; }
    .grid .row .col-3 {
      width: 25%; }
    .grid .row .col-4 {
      width: 33.33333%; }
    .grid .row .col-5 {
      width: 41.66667%; }
    .grid .row .col-6 {
      width: 50%; }
    .grid .row .col-7 {
      width: 58.33333%; }
    .grid .row .col-8 {
      width: 66.66667%; }
    .grid .row .col-9 {
      width: 75%; }
    .grid .row .col-10 {
      width: 83.33333%; }
    .grid .row .col-11 {
      width: 91.66667%; }
    .grid .row .col-12 {
      width: 100%; }

.content {
  padding: 20px 35px; }
  .content .content-header {
    font-size: 10px; }

.float-left {
  float: left; }

.float-right {
  float: right; }

.left, .top-left, .bottom-left, .wide {
  position: absolute;
  left: 0; }

.right, .top-right, .bottom-right, .wide {
  position: absolute;
  right: 0; }

.top, .top-left, .top-right, .wide {
  position: absolute;
  top: 0; }

.bottom, .bottom-left, .bottom-right, .wide {
  position: absolute;
  bottom: 0; }

.horizontal-center, .center, .wide {
  position: relative;
  margin-left: auto;
  margin-right: auto; }

.vertical-center, .center, .wide {
  position: relative;
  margin-top: auto;
  margin-bottom: auto; }

.text-left {
  text-align: left; }

.text-right {
  text-align: right; }

.text-center, .logo, .header .logo, .footer {
  text-align: center; }

.text-justify {
  text-align: justify; }

.footer {
  font-size: 12px;
  bottom: 15px;
  display: block;
  z-index: 820; }

.float-left {
  float: left; }

.float-right {
  float: right; }

.left, .top-left, .bottom-left, .wide {
  position: absolute;
  left: 0; }

.right, .top-right, .bottom-right, .wide {
  position: absolute;
  right: 0; }

.top, .top-left, .top-right, .wide {
  position: absolute;
  top: 0; }

.bottom, .bottom-left, .bottom-right, .wide {
  position: absolute;
  bottom: 0; }

.horizontal-center, .center, .wide {
  position: relative;
  margin-left: auto;
  margin-right: auto; }

.vertical-center, .center, .wide {
  position: relative;
  margin-top: auto;
  margin-bottom: auto; }

.text-left {
  text-align: left; }

.text-right {
  text-align: right; }

.text-center, .logo, .header .logo, .footer {
  text-align: center; }

.text-justify {
  text-align: justify; }

.body {
  max-width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  min-height: 100vh; }

.spacer {
  flex: 1; }

