@import './../../assets/themes/blue.scss';

@mixin font($size) {
	font-family: 'Source Sans Pro','Helvetica Neue',Helvetica,Arial,sans-serif;
	font-size: $size;
}

body {
	@include font(100%);
	font-weight: 400;
}

.body {
	box-sizing: border-box;

	.row {
		margin-right: 0px;
	}
}

.header {
	@extend .skin-blue;
	@include font(0.875em);
	line-height: 50px;
}

.content-background {
	background-color: #ecf0f5 !important;
}

.content-header {
	@extend .content-background;
	@include font(0.875em);

	position: relative;
	padding: 0px 15px;

	div {
		line-height: 35px;
	}
	h4 {
		small {
			font-size: 15px;
			display: inline-block;
			padding-left: 4px;
			font-weight: 300;
		}
	}
}

.content {
	@extend .content-background;
	@include font(0.875em);
}


.footer {
	display: none;

	@include font(0.75em);

	z-index: 820;
	text-align: center;
	min-width: 100%;
	position: absolute;
	bottom: 15px;

	@media only screen and (min-width: 768px) {
		display: block;
	}
}

