<clr-modal [(clrModalOpen)]="isVisible" [clrModalClosable]="false" *ngIf="isVisible">
  <h3 class="modal-title">{{header}}</h3>
  <div class="modal-body">
      <app-alert *ngIf="applicationForm.invalid && errors.length == 0" message="The application name is required"></app-alert>
      <app-alert *ngFor="let error of errors" message="{{error}}"></app-alert>
      <form class="form-group" #applicationForm="ngForm">
          <div class="textbox" style="float: left">
              <br/>
              <input
                  id="applicationName"
                  name="applicationName"
                  type="text"
                  class="form-control"
                  [(ngModel)]="application.name"
                  (ngModelChange)="onChange()"
                  #name="ngModel"
                  required />
              <span class="placeholder">Application Name</span>
          </div>
      </form>
  </div>
  <div class="modal-footer">
      <button type="button" class="btn btn-outline" (click)="onCancel($event)">Cancel</button>
      <button type="button" class="btn btn-primary" (click)="onSave($event)" [disabled]="applicationForm.invalid || errors.length > 0">Save</button>
  </div>
</clr-modal>
