<div class="row">
  <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
    <app-catalog-breadcrumb></app-catalog-breadcrumb>
  </div>
  <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 command-container">
    <a (click)="onSaveCatalog()" [class.disabled]="!canSaveCatalog">
      <clr-icon shape="plus-circle" size="24"></clr-icon>
      <span>New Catalog</span>
    </a>
    <a [class.disabled]="!canSaveFile">
      <clr-icon shape="plus-circle" size="24"></clr-icon>
      <label for="file">New File</label>
      <input type="file"
            id="file"
            [hidden]="true"
            [disabled]="!canSaveFile"
            (change)="saveFile($event.target.files)">
    </a>
  </div>
</div>
<div class="row">
    <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12" *ngFor="let item of data">
      <app-catalog-card *ngIf="item.isCatalog" [catalog]="item" (detail)="show($event)" (save)="save($event)" (remove)="remove($event)"></app-catalog-card>
      <app-catalog-entry-card *ngIf="!item.isCatalog" [entry]="item" (detail)="show($event)" (save)="save($event)" (remove)="remove($event)"></app-catalog-entry-card>
    </div>
</div>
<div class="row flex-items-xs-center more" *ngIf="canNext">
    <div class="col-lg-1">
      <a title="more" (click)="next($event)">
        <clr-icon shape="circle-arrow down" class="is-solid" size="28"></clr-icon>
      </a>
    </div>
</div>

<app-catalog-edit
      *ngIf="isSaveCatalogMode"
      [catalog]="newCatalog"
      [errors]="errors"
      [visible]="isSaveCatalogMode"
      (change)="validateCatalog($event)"
      (save)="saveCatalog($event)"
      (cancel)="cancel($event)"></app-catalog-edit>

<app-detail-view [collapsed]="!details" (close)="cancel($event)">
  <app-catalog-details *ngIf="details && details.isCatalog" [catalog]="details"></app-catalog-details>
  <app-catalog-entry-details *ngIf="details && !details.isCatalog" [entry]="details"></app-catalog-entry-details>
</app-detail-view>      
