.command-container {
    text-align: right;
}

.more {
    padding: 25px;
}

.command-container a,
.command-container a label,
.command-container a span,
.more a,
.more a label,
.more a span {
    cursor: pointer;
    text-decoration: none;
}

.command-container a::before {
    content: "";
    padding: 5px;
}
